.menulink {
  margin-bottom: 1.2rem;
}

.menulink a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menulink__link {
  font-size: 1.5rem;
  font-family: var(--font-inter);
  color: var(--color-primary);
}

.menulink svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-primary);
}
