.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 550px) {
  .main {
    gap: 16px;
  }

  .footer {
    gap: 16px;
  }
}
